.container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.bg {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}