.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.image_wrapper {
    width: 150px;
    height: 150px;
    margin: auto;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    padding: 10px 20px;
    color: white;
    display: grid;
}

.title {
    color: white;
    text-align: center;
}

.button {
    padding: 10px;
    color: rgb(255, 255, 155);
    border-radius: 10px;
    background-color: black;
    margin: auto;
    transition: 0.5s;
    font-weight: bolder;
}

.button:hover {
    padding: 10px;
    background-color: rgb(255, 255, 155);
    border-radius: 10px;
    color: black;
    margin: auto;
}

.link {
    font-size: smaller;
    text-align: center;
    color: rgb(255, 255, 155, 0.7);
    transition: 0.3s;
}

.link:hover {
    color: rgb(255, 255, 155, 1);
}