.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
}

.image_wrapper {
    width: 150px;
    height: 150px;
    margin: auto;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    padding: 10px 20px;
    color: white;
    display: grid;
}

.title {
    color: white;
    text-align: center;
}

.button{
    padding:10px;
    background-color: rgb(255, 255, 155);
    font-weight: bold;
    border-radius: 10px;
    color: black;
    margin: auto;
}