.container {
    display: grid;
    width: 70%;
    background-color: #363636;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    margin: auto;
    color: bisque;
    line-height: 30px;
    transition: 0.2s;
    font-weight: bolder;
}

.container:hover {
    background-color: bisque;
    color: #363636;
}