.container{
    border-radius: 8px;
    height: 35px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 0 10px;
    display: flex;
}

.section{
    text-decoration: none;
    padding: 5px;
}

.active_section{
    padding: 5px;
    font-weight: bold;
}