.container_little {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.container_medium {
    display: inline-block;
    width: 100px;
    height: 120px;
    display: grid;
    grid-template-rows: 100px 20px;
}

.container_big {
    display: inline-block;
    width: 200px;
    height: 240px;
    display: grid;
    grid-template-rows: 100px 40px;
}

.image{
    widows: 100%;
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.big_image_wrapper{
    widows: 200px;
    height: 200px;
}

.medium_image_wrapper{
    widows: 100px;
    height: 100px;
}