.container {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    background-color: var(--bg-boxs-color);
    border-radius: var(--standart-border-radius-min);
    padding-left: var(--standart-padding-min);
    padding-right: var(--standart-padding-min);
    line-height: 40px;;
}